@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Gentilis';
    src: url('/fonts/gentilis_regular.ttf') format('truetype');
}

body {
    font-family: 'Gentilis', sans-serif;
}